export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home
export GEMFIRE=/Users/nchandrappa/Documents/Gemfire_Preso/Pivotal_GemFire_820_b17919_Linux
export PATH=$PATH:$GEMFIRE/bin
export GF_JAVA=$JAVA_HOME/bin/java
export SERVER_DIR_LOCATION=/Users/nchandrappa/Documents/CITI_POC/gf_server_dir
export CLASSPATH=$CLASSPATH:$JAVA_HOME/lib/tools.jar:$GEMFIRE/lib/gemfire.jar:$GEMFIRE/lib/antlr.jar:$GEMFIRE/lib/gfSecurityImpl.jar
